@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  width: 250px;
  height: 250px;
  background: linear-gradient(45deg, #fdfc47, #24fe41);
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.container:hover {
  width: 350px;
  height: 470px;
  border-radius: 5px;
}

.container .wrapper img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: inline;
  border-radius: 50%;
  border: 4px solid black;
  margin: 25px auto;
  transition: all 0.3s ease-in-out;
}

.container .wrapper img.active {
  width: 350px;
  height: 470px;
  border-radius: 5px;
  border: none;
  margin: 0px;
  z-index: 99;
}

.wrapper .name {
  font-weight: 500;
  font-size: 34px;
}

.wrapper .place {
  font-size: 14px;
}

.container .content {
  margin-top: 20px;
}

.container .content p {
  font-size: 16px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.05);
}

.container .icons {
  position: relative;
  margin-top: -410px;
  margin-left: 10px;
  list-style: none;
}
.container .icons.active {
  display: none;
}
.container .icons li {
  height: 40px;
  width: 40px;
  margin: 15px 0;
  opacity: 0;
  margin-left: -100px;
  transition: all 0.5s ease;
}
.container:hover .icons li {
  opacity: 1;
  margin-left: 7px;
}
.container:hover .icons li:nth-child(2) {
  transition-delay: 0.2s;
}
.container:hover .icons li:nth-child(3) {
  transition-delay: 0.4s;
}
.container .icons li a {
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: black;
  display: block;
  line-height: 40px;
  transition: all 0.3s;
}
.container .icons li a:hover {
  transform: scale(0.9);
}
